.mapContainer {
    width: 100%;
    height: 95vh; /* Adjust the height as needed */
    position: relative;
    border-radius: 12px; /* Add rounded corners */
    overflow: hidden; /* Ensure content doesn't overflow rounded corners */
    margin-left: 1vh;
/* margin-top: 20px; */
}  